<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epoxy SD - Comptoir Personnalisé</title>
    <link rel="stylesheet" href="/css/indexStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumar+One&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

<!-- Header with navigation -->
<header id="header" class="bg-[#111827]">
    <nav class="navbar">
        <img id="home-logo" src="/images/logo.png" alt="">
        <div class="logo">Epoxy SD - Comptoir en Epoxy</div>
        <ul class="nav-links">
            <li>
                <hr id="nav-separator">
            </li>
            <li><a href="/soumission">Soumission Rapide</a></li>
            <li><a href="/service">Nos services</a></li>
            <li><a href="/realisation">Realisations</a></li>
            <li><a href="/produit">Nos Produits</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<!-- Hero Section -->
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2274">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Comptoir en Epoxy original</h1>
            <p class="cs-text">
                Dans notre quête incessante de progrès, nous nous engageons à façonner un avenir où l'innovation, la durabilité et l'inclusivité s'harmonisent parfaitement à travers des comptoirs en époxy d'exception.
            </p>
            <a href="" class="cs-button-solid">
                Contacter Nous Dès Maintenant
                <img class="cs-button-arrow"
                     src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-arrow-up.svg"
                     decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
            </a>
        </div>
        <!--To make your own background crops of people use https://www.remove.bg/-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png">
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png">
            <img aria-hidden="true" decoding="async"
                 src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction-man2.png"
                 alt="construction worker" width="581" height="662">
        </picture>
    </div>
    <div class="cs-image-group">
        <!--Left Image-->
        <picture class="cs-background cs-background1">
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg">
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg">
            <img aria-hidden="true" decoding="async"
                 src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg"
                 alt="construction site" width="1290" height="684">
        </picture>
        <!--Right Image-->
        <picture class="cs-background cs-background2">
            <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg">
            <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg">
            <img aria-hidden="true" decoding="async"
                 src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction1.jpg"
                 alt="construction site" width="630" height="684">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="Hservices-2274">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item pl-5">
                <a href="" class="cs-link">
                    <img class="cs-icon"
                         src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction1.svg"
                         decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Meilleure Réno Pour Votre Maison </h3>
                    <p class="cs-item-text">
                        Transform your home with trendy flooring and finishes!
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon"
                         src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction2.svg"
                         decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Qualité Garantie</h3>
                    <p class="cs-item-text">
                        Quality renovations provide lasting beauty and functionality.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon"
                         src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction3.svg"
                         decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Travail d'Équipe</h3>
                    <p class="cs-item-text">
                        Collaboration drives success through shared goals and communication.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon"
                         src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction4.svg"
                         decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <span class="cs-number">50+</span>
                    <h3 class="cs-h3">Clients Satisfait</h3>
                    <p class="cs-item-text">
                        Avec plus de 2 ans d'expértise de service avec nos clients.
                    </p>
                    <span class="cs-fake-link">
                        Travaillons Ensemble
                        <img class="cs-arrow"
                             src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-arrow-up.svg"
                             decoding="async" alt="arrow" width="20" height="20" aria-hidden="true">
                    </span>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg">
                        <source media="(min-width: 601px)"
                                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg">
                        <img aria-hidden="true" decoding="async"
                             src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction3.jpg"
                             alt="construction site" width="630" height="684">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- Services Section -->
<div class="py-24 sm:py-32 bg-[#111827]">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base/7 text-white">Comptoir original réalisé</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">120+</dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base/7 text-white">Compagnie de comptoir d'époxy au Québec</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">#1
                </dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base/7 text-white">Comptoir réalisé par année</dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">50+</dd>
            </div>
        </dl>
    </div>
</div>

<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="text-center text-lg/8 font-semibold text-gray-900">Approuvé par les équipes les plus innovantes au
            Québec.</h2>
        <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
            <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                 src="https://tailwindcss.com/plus-assets/img/logos/158x48/transistor-logo-gray-900.svg"
                 alt="Transistor" width="158" height="48">
            <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                 src="https://tailwindcss.com/plus-assets/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform"
                 width="158" height="48">
            <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                 src="https://tailwindcss.com/plus-assets/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple"
                 width="158" height="48">
            <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
                 src="https://tailwindcss.com/plus-assets/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal"
                 width="158" height="48">
            <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
                 src="https://tailwindcss.com/plus-assets/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic"
                 width="158" height="48">
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="relative isolate overflow-hidden bg-gray-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
            <svg viewBox="0 0 1024 1024" class="absolute top-1/2 left-1/2 -z-10 size-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
                <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
                <defs>
                    <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                        <stop stop-color="#7775D6" />
                        <stop offset="1" stop-color="#E935C1" />
                    </radialGradient>
                </defs>
            </svg>
            <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
                <h2 class="text-3xl font-semibold tracking-tight text-balance text-white sm:text-4xl">Faite une soumission rapide ou parlez nous !</h2>
                <p class="mt-6 text-lg/8 text-pretty text-gray-300">Notre système de soumission rapide vous aidera à vous faire une idée du montant que vous aurez à débourser pour nos comptoir d'époxy.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                    <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Soumission</a>
                    <a href="#" class="text-sm/6 font-semibold text-white">Nous Contacter <span aria-hidden="true">→</span></a>
                </div>
            </div>
            <div class="relative mt-16 h-80 lg:mt-8">
                <img class="absolute top-0 left-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10" src="../images/Comptoir-riviere.png" alt="App screenshot" width="1824" height="1080">
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="relative bg-gray-900 text-white py-8 overflow-hidden">
    <div class="footer-content text-center relative z-10">
        <ul class="social-links flex justify-center space-x-6">
            <li><a href="#" class="hover:underline">Facebook</a></li>
            <li><a href="#" class="hover:underline">Twitter</a></li>
            <li><a href="#" class="hover:underline">LinkedIn</a></li>
        </ul>
        <p class="pt-4">&copy; 2025 Epoxy SD. Tous droits réservés.</p>
    </div>

    <!-- SVG Dégradé -->
    <svg class="absolute inset-0 w-full h-full -z-10" aria-hidden="true">
        <defs>
            <radialGradient id="footer-gradient" cx="50%" cy="50%" r="80%">
                <stop offset="0%" stop-color="#7775D6" />
                <stop offset="100%" stop-color="#E935C1" />
            </radialGradient>
        </defs>
        <rect width="100%" height="100%" fill="url(#footer-gradient)" fill-opacity="0.5" />
    </svg>
</footer>

<script src="/js/indexScript.js"></script>
</body>
</html>
